<div class="">
<app-header></app-header>  
<div class="container-fluid">
    <div class="profile-wrapper pt-5 pb-5">  
        <div class="">
            <div class="row">
                <div class="col-md-3">
                    <div class="col-inner">
                        <div class="card border-0 box-shadow">
                            <div class="card-body">
                                <nav>                   
                                    <div class="" id="profileSidemenu">
                                      <ul class="navbar-nav">                        
                                        <li class="nav-item mb-2">
                                          <a class="nav-link color-9f d-flex align-content-center" routerLink="/my-profile"  [routerLinkActiveOptions]="{ exact: true }"
                                          routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24.351 23.17">
                                            <path id="edit" d="M11.519.75a5.707,5.707,0,1,0,5.707,5.707A5.707,5.707,0,0,0,11.519.75Zm10.43,19.058-3.642,3.642q-.066.066-.134.128h1.875a1.9,1.9,0,0,0,1.9-1.9Zm-10.9,3.771A1.9,1.9,0,0,1,11,22.85l.382-2.828a4.077,4.077,0,0,1,1.157-2.337L16,14.224a20.549,20.549,0,0,0-14.3,1.87A1.8,1.8,0,0,0,.75,17.685v3.992a1.9,1.9,0,0,0,1.9,1.9h8.392Zm2.265-5.125a2.989,2.989,0,0,0-.849,1.714L12.079,23a.815.815,0,0,0,.917.917l2.828-.382a2.99,2.99,0,0,0,1.714-.849l6.688-6.688A2.99,2.99,0,0,0,20,11.767Zm.767,1.932a1.359,1.359,0,0,1,.386-.779L21.15,12.92a1.359,1.359,0,0,1,1.922,1.922l-6.688,6.688a1.358,1.358,0,0,1-.779.386l-1.767.239Z" transform="translate(-0.75 -0.75)" fill="#9f9f9f" fill-rule="evenodd"/>
                                          </svg><p class="ml-2 mb-0">Profile</p></a>
                                        </li>     
                                        <li class="nav-item mb-2">
                                            <a class="nav-link color-9f d-flex align-content-center" routerLink="/password-settings"  [routerLinkActiveOptions]="{ exact: true }"
                                            routerLinkActive="active"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 21.176 28.234">
                                                <path id="padlock" d="M21.529,10.588h-.882V7.059a7.059,7.059,0,0,0-14.117,0v3.529H5.647A2.65,2.65,0,0,0,3,13.235V25.587a2.65,2.65,0,0,0,2.647,2.647H21.529a2.65,2.65,0,0,0,2.647-2.647V13.235A2.65,2.65,0,0,0,21.529,10.588ZM8.882,7.059a4.706,4.706,0,1,1,9.411,0v3.529H8.882Zm5.882,12.614v2.68a1.176,1.176,0,0,1-2.353,0v-2.68a2.353,2.353,0,1,1,2.353,0Z" transform="translate(-3)" fill="#9f9f9f"/>
                                              </svg>
                                             <p class="ml-2 mb-0">Password</p> </a>
                                        </li>
                                        <li class="nav-item mb-2">
                                            <a class="nav-link color-9f d-flex align-content-center" routerLink="/user-management"  [routerLinkActiveOptions]="{ exact: true }"
                                            routerLinkActive="active"> <svg id="profile" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 29.058 29.31">
                                                <circle id="Ellipse_53" data-name="Ellipse 53" cx="6.372" cy="6.372" r="6.372" transform="translate(5.097)" fill="#9f9f9f"/>
                                                <path id="Path_442" data-name="Path 442" d="M14.7,23.214a3.194,3.194,0,0,1,.259-3.568,3.194,3.194,0,0,1-.259-3.568l1.031-1.784A3.2,3.2,0,0,1,18.49,12.7a3.245,3.245,0,0,1,.46.033,3.308,3.308,0,0,1,.148-.3A6.011,6.011,0,0,0,16.885,12H6.053A6.06,6.06,0,0,0,0,18.053v4.46a.956.956,0,0,0,.956.956H14.845Z" transform="translate(0 3.292)" fill="#9f9f9f"/>
                                                <path id="Path_443" data-name="Path 443" d="M24.036,19.969a4.631,4.631,0,0,0,.06-.6,4.843,4.843,0,0,0-.06-.6l1.148-.869a.638.638,0,0,0,.167-.827L24.32,15.294a.637.637,0,0,0-.8-.269l-1.322.557a4.735,4.735,0,0,0-1.044-.621l-.176-1.4A.638.638,0,0,0,20.348,13H18.287a.637.637,0,0,0-.632.558l-.176,1.4a4.755,4.755,0,0,0-1.044.621l-1.321-.557a.636.636,0,0,0-.8.269l-1.031,1.784a.638.638,0,0,0,.167.827l1.148.869a4.631,4.631,0,0,0-.06.6,4.844,4.844,0,0,0,.06.6l-1.148.869a.638.638,0,0,0-.167.827l1.031,1.785a.637.637,0,0,0,.8.269l1.321-.558a4.735,4.735,0,0,0,1.044.621l.176,1.4a.636.636,0,0,0,.631.558h2.061a.637.637,0,0,0,.632-.558l.176-1.4a4.755,4.755,0,0,0,1.044-.621l1.321.557a.636.636,0,0,0,.8-.269l1.031-1.785a.638.638,0,0,0-.167-.827ZM19.317,21.92a2.549,2.549,0,1,1,2.549-2.549A2.548,2.548,0,0,1,19.317,21.92Z" transform="translate(3.621 3.567)" fill="#9f9f9f"/>
                                              </svg><p class="ml-2 mb-0">User Managment</p></a>
                                        </li>
                                        <li class="nav-item mb-2">
                                            <a class="nav-link color-9f d-flex align-content-center" routerLink="/reports"  [routerLinkActiveOptions]="{ exact: true }"
                                            routerLinkActive="active"><svg id="paper" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 27.063 27.063">
                                                <path id="Path_444" data-name="Path 444" d="M16.069,0H3.1A3.1,3.1,0,0,0,0,3.1V20.579a3.1,3.1,0,0,0,3.1,3.1h8.322l.248-1.387a3.14,3.14,0,0,1,.857-1.658l6.642-6.63V3.1a3.1,3.1,0,0,0-3.1-3.1ZM4.511,4.511H9.021a1.128,1.128,0,0,1,0,2.255H4.511a1.128,1.128,0,0,1,0-2.255Zm5.638,11.276H4.511a1.128,1.128,0,0,1,0-2.255h5.638a1.128,1.128,0,1,1,0,2.255Zm4.511-4.511H4.511a1.128,1.128,0,0,1,0-2.255H14.659a1.128,1.128,0,1,1,0,2.255Z" fill="#9f9f9f"/>
                                                <path id="Path_445" data-name="Path 445" d="M12.624,25.573a.846.846,0,0,1-.832-.993l.6-3.389a.849.849,0,0,1,.235-.451L21,12.369a1.721,1.721,0,0,1,2.591-.2l1.395,1.395a1.974,1.974,0,0,1,0,2.791L16.61,24.727a.833.833,0,0,1-.451.235l-3.389.6a.806.806,0,0,1-.147.014Zm3.389-1.443h.011Z" transform="translate(1.503 1.49)" fill="#9f9f9f"/>
                                              </svg>
                                               <p class="ml-2 mb-0">Reports</p></a>
                                        </li>                    
                                        <li class="nav-item mb-2">
                                            <a class="nav-link color-9f d-flex align-content-center " routerLink="/system-log-reports"  [routerLinkActiveOptions]="{ exact: true }"
                                            routerLinkActive="active"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20.04" viewBox="0 0 24.048 20.04">
                                                <g id="bullet-list_1_" data-name="bullet-list (1)" transform="translate(0 -42.666)">
                                                  <g id="Group_328" data-name="Group 328" transform="translate(6.012 42.666)">
                                                    <g id="Group_327" data-name="Group 327" transform="translate(0 0)">
                                                      <path id="Path_446" data-name="Path 446" d="M145.535,42.667H128.5a.5.5,0,1,0,0,1h17.034a.5.5,0,0,0,0-1Z" transform="translate(-128 -42.667)" fill="#9f9f9f"/>
                                                    </g>
                                                  </g>
                                                  <g id="Group_330" data-name="Group 330" transform="translate(6.012 45.672)">
                                                    <g id="Group_329" data-name="Group 329" transform="translate(0 0)">
                                                      <path id="Path_447" data-name="Path 447" d="M138.521,106.667H128.5a.5.5,0,1,0,0,1h10.02a.5.5,0,1,0,0-1Z" transform="translate(-128 -106.667)" fill="#9f9f9f"/>
                                                    </g>
                                                  </g>
                                                  <g id="Group_332" data-name="Group 332" transform="translate(6.012 50.682)">
                                                    <g id="Group_331" data-name="Group 331" transform="translate(0 0)">
                                                      <path id="Path_448" data-name="Path 448" d="M145.535,213.333H128.5a.5.5,0,1,0,0,1h17.034a.5.5,0,1,0,0-1Z" transform="translate(-128 -213.333)" fill="#9f9f9f"/>
                                                    </g>
                                                  </g>
                                                  <g id="Group_334" data-name="Group 334" transform="translate(6.012 53.688)">
                                                    <g id="Group_333" data-name="Group 333" transform="translate(0 0)">
                                                      <path id="Path_449" data-name="Path 449" d="M138.521,277.333H128.5a.5.5,0,1,0,0,1h10.02a.5.5,0,0,0,0-1Z" transform="translate(-128 -277.333)" fill="#9f9f9f"/>
                                                    </g>
                                                  </g>
                                                  <g id="Group_336" data-name="Group 336" transform="translate(6.012 58.698)">
                                                    <g id="Group_335" data-name="Group 335" transform="translate(0 0)">
                                                      <path id="Path_450" data-name="Path 450" d="M145.535,384H128.5a.5.5,0,1,0,0,1h17.034a.5.5,0,1,0,0-1Z" transform="translate(-128 -384)" fill="#9f9f9f"/>
                                                    </g>
                                                  </g>
                                                  <g id="Group_338" data-name="Group 338" transform="translate(6.012 61.704)">
                                                    <g id="Group_337" data-name="Group 337" transform="translate(0 0)">
                                                      <path id="Path_451" data-name="Path 451" d="M138.521,448H128.5a.5.5,0,1,0,0,1h10.02a.5.5,0,0,0,0-1Z" transform="translate(-128 -448)" fill="#9f9f9f"/>
                                                    </g>
                                                  </g>
                                                  <g id="Group_340" data-name="Group 340" transform="translate(0 42.666)">
                                                    <g id="Group_339" data-name="Group 339" transform="translate(0 0)">
                                                      <circle id="Ellipse_54" data-name="Ellipse 54" cx="2.004" cy="2.004" r="2.004" fill="#9f9f9f"/>
                                                    </g>
                                                  </g>
                                                  <g id="Group_342" data-name="Group 342" transform="translate(0 50.682)">
                                                    <g id="Group_341" data-name="Group 341" transform="translate(0 0)">
                                                      <circle id="Ellipse_55" data-name="Ellipse 55" cx="2.004" cy="2.004" r="2.004" fill="#9f9f9f"/>
                                                    </g>
                                                  </g>
                                                  <g id="Group_344" data-name="Group 344" transform="translate(0 58.698)">
                                                    <g id="Group_343" data-name="Group 343" transform="translate(0 0)">
                                                      <circle id="Ellipse_56" data-name="Ellipse 56" cx="2.004" cy="2.004" r="2.004" fill="#9f9f9f"/>
                                                    </g>
                                                  </g>
                                                </g>
                                              </svg>
                                              <p class="ml-2 mb-0">Log Reports</p></a>
                                        </li>                    
                                      </ul>
                                    </div>
                                  </nav>
                            </div>
                        </div>
                    </div>
    
                </div>
                <div class="col-md-9">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>   
    </div>
</div>

<app-footer></app-footer>
</div>