<div class="col-inner w-75">
    <h3 class="mb-2">Password</h3>
    <div class="card border-0 box-shadow">
        <div class="card-body">
            <form  autocomplete="off" [formGroup]="profilePwdFrom" (ngSubmit)="onSubmit()">  
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Current Password</label>   
                        <input type="password" name="current_password" class="form-control" formControlName="current_password" /> 
                        <div *ngIf="submitted && !profilePwdFrom.get('current_password')?.valid">
                            <small class="text-danger" *ngIf="profilePwdFrom.get('current_password')?.errors?.['required']">Current password required</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>New Password</label>   
                        <input type="password" name="password"  class="form-control" formControlName="password" />
                        <div *ngIf="submitted && f.password?.touched">
                            <small class="text-danger" *ngIf="f.password?.errors"> Min 8 digits </small>
                        </div>
                        <div *ngIf="submitted && !f.password?.touched">
                            <small class="text-danger" *ngIf="f.password?.errors"> New password  required</small>
                        </div> 
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Re-enter New Password</label>   
                        <input type="password" name="password_confirmation"  class="form-control" formControlName="password_confirmation" /> 
                        <div *ngIf="submitted && !f.password_confirmation?.touched">
                            <small class="text-danger" *ngIf="f.password_confirmation?.errors">  Re-enter password  required</small>
                        </div>
                        <div *ngIf="submitted && f.password_confirmation?.touched">
                            <small class="text-danger" *ngIf="f.password_confirmation?.errors?.['minlength']"> Min 8 digits </small>
                        </div>
                        <div *ngIf="submitted && f.password_confirmation?.errors?.['customError']">
                            <small class="text-danger" *ngIf="f.password_confirmation?.errors?.['customError']"> Password mismatched </small>
                        </div>
                    </div>
                </div>
               
                <div class="col-md-12 mb-4">
                    <button type="submit" class="btn btn-primary border-0 pl-4 pr-4 pt-2 pb-2 mr-2">Update</button>
                    <a routerLink="/dashboard" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<div class="col-inner w-75 mt-5">
    <h3 class="mb-3">2-Step Verification</h3>
    <div class="card border-0 box-shadow">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <img src="../../../../assets/img/general/qrcode.png" alt="qrcode" />
                        
                        <input type="password" name="firstName" class="form-control"  /> 
                        <span>Scan this QR code with your Google Authenticator App.</span>
                    </div>
                </div>
               
              
            </div>
        </div>
    </div>
</div>