<div class="limiter">
    <div class="container-login100" style="background-image: url('assets/img/login/login-bg.png');">
        <div class="wrap-login100">
            <form class="login100-form validate-form" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <span class="login100-form-logo">
                  <img src="assets/img/login/login-logo.png">
                </span>
                <h4 class="text-white mb-4 mt-4">Login to your account</h4>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="username" placeholder="Username"  formControlName="username">
                </div>
                <div class="err-wrapper" *ngIf="!f.username?.valid && submitted">
                    <span *ngIf="f.username?.errors?.['required']">
                       Username requird </span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="password" name="pass" placeholder="Password" formControlName="password"/>
                </div>
                <div class="err-wrapper" *ngIf="!f.password?.valid && submitted">
                    <span *ngIf="f.password?.errors?.['required']">
                        Password is Required
                    </span>
                </div>
                <div class="isloader" *ngIf="loading">
                    <span>Loading .....</span>
                </div>
                <div *ngIf="response!='' && !loading">
                    {{response}}                   
                </div>
                <!-- <div class="contact100-form-checkbox">
                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                    <label class="label-checkbox100" for="ckb1">
                        Remember me
                    </label>
                </div> -->                
                <div class="text-right p-t-90">
                    <a class="txt1 text-white text-sm text-underline" href="#">
                        Forgot Password?
                    </a>
                </div>

                <div class="container-login100-form-btn mt-4">
                    <button class="login100-form-btn btn-primary border-0 w-100 p-3 border-radius-15px " (click)="submit=true" [disabled]="this.loading">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

