<div class="client-detailswraper">
<div class="card border-0 box-shadow mt-3">
    <div class="card-body">
        <a class="d-block text-right" href="#"> <i _ngcontent-pds-c60="" class="fa fa-pencil mr-1"></i> Edit details</a>
        <h5 class="mb-4">Company Details</h5>
        <div class="row">
            <div class="col-4 mb-3">
                <label class="d-block color-9f font-12">Company Full Name</label>
                <span class="color-34 font-16">CIMB Bank Berhad</span>
            </div>
            <div class="col-4 mb-3">
                <label class="d-block color-9f font-12">Registration Number</label>
                <span class="color-34 font-16">197201001799 (13491-P)</span>
            </div>
            <div class="col-4 mb-3">
                <label class="d-block color-9f font-12">Client ID</label>
                <span class="color-34 font-16">CB-28191</span>
            </div>
            <div class="col-4 mb-3">
                <label class="d-block color-9f font-12">Client ID</label>
                <span class="color-34 font-16">CB-28191</span>
            </div>
            <div class="col-4 mb-3">
                <label class="d-block color-9f font-12">Client ID</label>
                <span class="color-34 font-16">CB-28191</span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-4 mb-3">
                <label class="d-block color-9f font-12">Registered Address</label>
                <span class="color-34 font-16">Menara CIMB, Kuala Lumpur Sentral</span>
            </div>
            <div class="col-4 mb-3">
                <label class="d-block color-9f font-12">State</label>
                <span class="color-34 font-16">Wilayah Perseketuan Kuala Lumpur</span>
            </div>
            <div class="col-4 mb-3">
                <label class="d-block color-9f font-12">Postcode</label>
                <span class="color-34 font-16">50470</span>
            </div>
            <div class="col-4 mb-3">
                <label class="d-block color-9f font-12">Country</label>
                <span class="color-34 font-16">Malaysia</span>
            </div>
        </div>
    </div>
</div>

<div class="card border-0 box-shadow mt-3">
    <div class="card-body">
        <div class="d-flex justify-content-end">
            <div>
                <a class="d-block text-right" href="#"><i _ngcontent-pds-c60="" class="fa fa-pencil mr-1"></i> Edit details</a>
            </div>
            <div>
                <a class="d-block text-right" href="#"><i _ngcontent-pds-c60="" class="fa fa-pencil mr-1"></i> Edit details</a>
            </div>
        </div>
        
        <h5 class="mb-4">Branch Details</h5>
        <div class="row">
            <div class="col-4 mb-3">
                <label class="d-block color-9f font-12">Company Full Name</label>
                <span class="color-34 font-16">CIMB Bank Berhad</span>
            </div>
            <div class="col-4 mb-3">
                <label class="d-block color-9f font-12">Registration Number</label>
                <span class="color-34 font-16">197201001799 (13491-P)</span>
            </div>
            <div class="col-4 mb-3">
                <label class="d-block color-9f font-12">Client ID</label>
                <span class="color-34 font-16">CB-28191</span>
            </div>
            <div class="col-4 mb-3">
                <label class="d-block color-9f font-12">Client ID</label>
                <span class="color-34 font-16">CB-28191</span>
            </div>
            <div class="col-4 mb-3">
                <label class="d-block color-9f font-12">Client ID</label>
                <span class="color-34 font-16">CB-28191</span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-4 mb-3">
                <label class="d-block color-9f font-12">Registered Address</label>
                <span class="color-34 font-16">Menara CIMB, Kuala Lumpur Sentral</span>
            </div>
            <div class="col-4 mb-3">
                <label class="d-block color-9f font-12">State</label>
                <span class="color-34 font-16">Wilayah Perseketuan Kuala Lumpur</span>
            </div>
            <div class="col-4 mb-3">
                <label class="d-block color-9f font-12">Postcode</label>
                <span class="color-34 font-16">50470</span>
            </div>
            <div class="col-4 mb-3">
                <label class="d-block color-9f font-12">Country</label>
                <span class="color-34 font-16">Malaysia</span>
            </div>
        </div>
    </div>
</div>
</div>
