<div class="col-inner w-100">
    <h5 class="page-title mb-4">User Role Editor</h5> 
    <div class="border-0 box-shadow">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">                   
                    <div class="form-group">
                      <label>Select a role to edit</label>   
                      <div class="input-group" style="width:350px;">                         
                            <select class="form-control" (change)="loadPermissions($event)">
                              <option value="">Select</option>
                              <option value="1"> Administrator</option>
                              <option value="2">Team Leader</option>
                              <option value="3">Operations Admin</option>
                              <option value="4">Operations Manager</option>
                          </select> 
                      </div>  
                  </div>
                </div>
               
                <table class="table w-50" *ngIf="result.length"> 
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Read</th>
                        <th scope="col">Write</th>
                        <th scope="col">Read & Write</th>
                      </tr>
                    </thead>
                    <tbody >
                      <tr *ngFor="let item of result; let i=index;" >            
                        <td>{{item.name}}</td>
                        <td class="text-center">
                            <label class="chkboxwrap">  
                                <input type="checkbox" (change)="permission($event)" [attr.data-ind]="i" name="permission_{{item.pivot.permission_id}}" value="read"  title="Read"  [checked]="item.pivot.read==1" >
                                <span class="checkmark"></span>
                              </label>
                        </td>
                        <td class="text-center">
                            <label class="chkboxwrap">
                                <input type="checkbox" (change)="permission($event)" [attr.data-ind]="i"  class="permission_write_{{item.pivot.permission_id}}" name="permission_{{item.pivot.permission_id}}" title="Write" [checked]="item.pivot.write==1">
                                <span class="checkmark"></span>
                              </label>
                        </td>
                        <td class="text-center">
                            <label class="chkboxwrap">
                                <input type="checkbox" [attr.data-ind]="item.pivot.permission_id"  name="permission_{{item.pivot.permission_id}}" (click)="read_write($event)" value="readwrite"  [checked]="item.pivot.read==1 && item.pivot.write==1">
                                <span class="checkmark"></span>
                              </label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  
                      
            </div>
        </div>
    </div>


</div>
