<div class="col-inner w-100">
    <h5 class="page-title mb-4">User Role Editor</h5> 
    <div class="border-0 box-shadow">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">                   
                    <div class="form-group">
                      <label>Select a role to edit</label>   
                      <div class="input-group" style="width:350px;">                         
                            <select class="form-control" >
                              <option>Operations Leader</option>
                              <option>Operations Leader</option>
                              <option>Operations Leader</option>
                          </select> 
                      </div>  
                  </div>
                </div>
                <table class="table w-50">                  
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Read</th>
                        <th scope="col">Write</th>
                        <th scope="col">Read & Write</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>                       
                        <td>Assign Cases</td>
                        <td class="text-center">
                            <label class="chkboxwrap">
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                              </label>
                        </td>
                        <td class="text-center">
                            <label class="chkboxwrap">
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                              </label>
                        </td>
                        <td class="text-center">
                            <label class="chkboxwrap">
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                              </label>
                        </td>
                      </tr>
                      <tr>
                        
                        <td>Delete</td>
                        <td class="text-center"> 
                            <label class="chkboxwrap">
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                              </label>
                        </td>
                        <td class="text-center">  
                            <label class="chkboxwrap">
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                              </label>
                        </td>
                        <td class="text-center">                              
                            <label class="chkboxwrap">
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                              </label>
                        </td>
                      </tr>
                      <tr>                        
                        <td>Customise Packages</td>
                        <td class="text-center"> 
                            <label class="chkboxwrap">
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                              </label>
                           </td>
                           <td class="text-center">  
                            <label class="chkboxwrap">
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                              </label>
                           </td>
                           <td class="text-center">  
                            <label class="chkboxwrap">
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                              </label>
                           </td>
                      </tr>
                      <tr>                        
                        <td>Customise Client Data</td>
                        <td class="text-center"> 
                            <label class="chkboxwrap">
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                              </label>
                           </td>
                           <td class="text-center">  
                            <label class="chkboxwrap">
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                              </label>
                           </td>
                           <td class="text-center">  
                            <label class="chkboxwrap">
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                              </label>
                           </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>


</div>
