<div class="col-inner w-100">
    <div class="row mb-3">
        <div class="col-md-6 ">
            <ul class="d-flex pl-0">
                <li class="mr-3">
                    <h5 class="page-title mt-2">User Management</h5>
                </li>
                <li>
                    <div class="membersearch ml-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="memb-search">
                                <img src="assets/img/general/search.svg" alt=""/>
                            </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search Users..." aria-label="Search users.." aria-describedby="memb-search">
                        </div>
                    </div>
                </li>
            </ul>
            
        </div>
        <div class="col-md-6">
            <div class="member_filter filter_bar d-flex align-items-center justify-content-end">
                <a routerLink="/role-permission" class="ml-12 viewpending color-9f mr-4 font-12"><u>Edit Roles</u></a>              
                <a routerLink="/user/create" class="btn table-btn"><img class="mr-2" src="assets/img/general/add_icon.png" alt="">Create New User</a>
            </div>
        </div>
  </div>
    <!-- <a><img src="assets/img/general/cnewuser.png" alt="create-newuser"></a> -->
    <div class="card border-0 box-shadow">
        <div class="pl-3 pr-3 pt-0">
            <div class="row">
                <table class="table table-custom mb-0">
                    <thead>
                        <tr>
                            <th>USERNAME</th>
                            <th>FIRST NAME</th>
                            <th>LAST NAME</th>
                            <th>TEAM</th>
                            <th>ROLE</th>                            
                            <!-- <th class="text-center">STATUS</th> -->
                            <th class="text-center" width="3%"></th>
                        </tr>
                    </thead>
                    <tbody> 
                      <tr *ngFor="let item of userList; let i=index;">
                        <td>{{item?.username}}</td>
                        <td>{{item?.first_name}}</td>
                        <td>{{item?.last_name}}</td>
                        <td>{{item?.team_id}}</td>
                        <td>{{item?.role_id}}</td>                       
                        <td class="text-center" dropdown>
                            <div class="dropdown dropleft">                              
                                <img class="dropdown-toggle" style="width:5px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="assets/img/general/table-action.png ">
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" routerLink="/user/{{item?.id}}/view">View User</a>
                            <a class="dropdown-item" routerLink="/user/{{item?.id}}/edit">Edit User</a>   
                            <a class="dropdown-item" href="javascript:void()"  [attr.data-id]="item.id" (click)="deleteUser(item.id)">Delete</a>                                                    
                                </div>
                              </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>