
<div class="container-fluid pt-3 pb-5">
    <div class="col-inner w-100">
        <h5 class="page-title mb-4">Contact List</h5>
        <div class="row mb-3">         
          <div class="col-md-6">
                <p>Total Number of Contacts In Database: <span>495</span></p>
                <ul class="pl-0 d-flex mb-0">
                    <li class="mr-2">
                        <div class="membersearch ml-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="memb-search">
                                    <img src="../../../../assets/img/general/search.svg" alt=""/>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search Users..." aria-label="Search users.." aria-describedby="memb-search">
                        </div>
                    </div>
                </li>
                    <li class="mr-2">
                        <div class="d-flex justify-content-end ">
                            <div class="dropdown-list" dropdown>
                                <button class="btn status_by bg-white p-2" dropdownToggle><img src="../../../../assets/img/general/datepicker.svg" alt="upload"/> Client </button>
                                <div *dropdownMenu class="action_list dropdown-menu dropdown-caldendar">
                                </div>
                            </div>
                           
                        </div>
                    </li>
                    <li class="mr-2"> 
                        <div class="d-flex justify-content-end ">
                            <div class="dropdown-list" dropdown>
                                <button class="btn status_by bg-white p-2" dropdownToggle><img src="../../../../assets/img/general/briefcase.svg" alt="upload"/> Any Date</button>
                                <div *dropdownMenu class="action_list dropdown-menu dropdown-caldendar">
                                </div>
                            </div>
                           
                        </div>
                    </li>
                    
                </ul>
            </div>
           
            <div class="col-md-6 text-right">
              <button type="button" class="btn table-btn" (click)="lgModal.show()"><img class="mr-2" src="../../../../assets/img/general/add_icon.png" alt="">Add New Contacts</button>
            </div> 
      </div>
        <!-- <a><img src="../../../../assets/img/general/cnewuser.png" alt="create-newuser"></a> -->
        <div class=" border-0">
            <div class="pl-3 pr-3 pt-0">
                <div class="row">
                    <div class="col-md-12 pl-0 pr-0">
                        <table datatable  datatable [dtOptions]="dtOptions" class="table table-custom mb-0">
                            <thead>
                                <tr>
                                    <th>CONTACT NAME</th>
                                    <th>CONTACT NUMBER</th>
                                    <th>COMPANY / BRANCH</th>
                                    <th>DEPARTMENT</th>                           
                                    <th>DATE ADDED</th>      
                                    <th></th>                     
                                </tr>
                            </thead>
                            <tbody> 
                              <tr>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 43 43">
                                        <g id="Group_365" data-name="Group 365" transform="translate(-88 -416)">
                                          <g id="Ellipse_69" data-name="Ellipse 69" transform="translate(88 416)" fill="#787878" stroke="#707070" stroke-width="1">
                                            <circle cx="21.5" cy="21.5" r="21.5" stroke="none"/>
                                            <circle cx="21.5" cy="21.5" r="21" fill="none"/>
                                          </g>
                                          <g id="user_9_" data-name="user (9)" transform="translate(97.844 423.065)">
                                            <path id="Path_463" data-name="Path 463" d="M93.762,13.46a6.512,6.512,0,0,0,4.758-1.972,6.511,6.511,0,0,0,1.971-4.758A6.513,6.513,0,0,0,98.52,1.971a6.728,6.728,0,0,0-9.517,0A6.512,6.512,0,0,0,87.032,6.73,6.512,6.512,0,0,0,89,11.488,6.513,6.513,0,0,0,93.762,13.46Zm0,0" transform="translate(-82.282 0)" fill="#fff"/>
                                            <path id="Path_464" data-name="Path 464" d="M23.255,255.3a16.623,16.623,0,0,0-.226-1.766,13.906,13.906,0,0,0-.434-1.775,8.767,8.767,0,0,0-.73-1.656,6.248,6.248,0,0,0-1.1-1.434,4.851,4.851,0,0,0-1.581-.993,5.462,5.462,0,0,0-2.018-.365,2.048,2.048,0,0,0-1.094.464c-.328.214-.711.461-1.139.735a6.529,6.529,0,0,1-1.474.65,5.725,5.725,0,0,1-3.606,0,6.516,6.516,0,0,1-1.473-.649c-.424-.271-.808-.518-1.14-.735a2.045,2.045,0,0,0-1.093-.464,5.456,5.456,0,0,0-2.018.366,4.847,4.847,0,0,0-1.581.993,6.248,6.248,0,0,0-1.1,1.434,8.785,8.785,0,0,0-.73,1.656,13.944,13.944,0,0,0-.434,1.775,16.564,16.564,0,0,0-.226,1.766C.019,255.84,0,256.4,0,256.956a4.64,4.64,0,0,0,1.378,3.51,4.961,4.961,0,0,0,3.551,1.3H18.382a4.959,4.959,0,0,0,3.551-1.3,4.638,4.638,0,0,0,1.378-3.51c0-.563-.019-1.118-.056-1.65Zm0,0" transform="translate(0 -233.82)" fill="#fff"/>
                                          </g>
                                        </g>
                                      </svg> Jimmy Tay Boon Han
                                </td>
                                <td>+6012 222 4999</td>
                                <td>CIMB Bank - Taman Mutiara</td>
                                <td>Human Resources</td>
                                <td>05-03-2022, 03:32 pm</td>
                                <td class="text-center" dropdown>
                                    <div class="dropdown dropleft">                              
                                        <img class="dropdown-toggle" style="width:5px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="../../../../assets/img/general/table-action.png ">
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                          
                                          <a class="dropdown-item" href="#"><i class="fa fa-pencil mr-1"></i> Edit Contacts</a>
                                          <a class="dropdown-item" href="#"><i class="fa fa-trash-o mr-1"></i> Delete Contact</a>                                 
                                        </div>
                                      </div>
                                </td>       
                              </tr>
                              <tr>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 43 43">
                                        <g id="Group_365" data-name="Group 365" transform="translate(-88 -416)">
                                          <g id="Ellipse_69" data-name="Ellipse 69" transform="translate(88 416)" fill="#787878" stroke="#707070" stroke-width="1">
                                            <circle cx="21.5" cy="21.5" r="21.5" stroke="none"/>
                                            <circle cx="21.5" cy="21.5" r="21" fill="none"/>
                                          </g>
                                          <g id="user_9_" data-name="user (9)" transform="translate(97.844 423.065)">
                                            <path id="Path_463" data-name="Path 463" d="M93.762,13.46a6.512,6.512,0,0,0,4.758-1.972,6.511,6.511,0,0,0,1.971-4.758A6.513,6.513,0,0,0,98.52,1.971a6.728,6.728,0,0,0-9.517,0A6.512,6.512,0,0,0,87.032,6.73,6.512,6.512,0,0,0,89,11.488,6.513,6.513,0,0,0,93.762,13.46Zm0,0" transform="translate(-82.282 0)" fill="#fff"/>
                                            <path id="Path_464" data-name="Path 464" d="M23.255,255.3a16.623,16.623,0,0,0-.226-1.766,13.906,13.906,0,0,0-.434-1.775,8.767,8.767,0,0,0-.73-1.656,6.248,6.248,0,0,0-1.1-1.434,4.851,4.851,0,0,0-1.581-.993,5.462,5.462,0,0,0-2.018-.365,2.048,2.048,0,0,0-1.094.464c-.328.214-.711.461-1.139.735a6.529,6.529,0,0,1-1.474.65,5.725,5.725,0,0,1-3.606,0,6.516,6.516,0,0,1-1.473-.649c-.424-.271-.808-.518-1.14-.735a2.045,2.045,0,0,0-1.093-.464,5.456,5.456,0,0,0-2.018.366,4.847,4.847,0,0,0-1.581.993,6.248,6.248,0,0,0-1.1,1.434,8.785,8.785,0,0,0-.73,1.656,13.944,13.944,0,0,0-.434,1.775,16.564,16.564,0,0,0-.226,1.766C.019,255.84,0,256.4,0,256.956a4.64,4.64,0,0,0,1.378,3.51,4.961,4.961,0,0,0,3.551,1.3H18.382a4.959,4.959,0,0,0,3.551-1.3,4.638,4.638,0,0,0,1.378-3.51c0-.563-.019-1.118-.056-1.65Zm0,0" transform="translate(0 -233.82)" fill="#fff"/>
                                          </g>
                                        </g>
                                      </svg> Jimmy Tay Boon Han
                                </td>
                                <td>+6012 222 4999</td>
                                <td>CIMB Bank - Taman Mutiara</td>
                                <td>Human Resources</td>
                                <td>05-03-2022, 03:32 pm</td>
                                <td class="text-center" dropdown>
                                    <div class="dropdown dropleft">                              
                                        <img class="dropdown-toggle" style="width:5px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="../../../../assets/img/general/table-action.png ">
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                          
                                          <a class="dropdown-item" href="#"><i class="fa fa-pencil mr-1"></i> Edit Contacts</a>
                                          <a class="dropdown-item" href="#"><i class="fa fa-trash-o mr-1"></i> Delete Contact</a>                                 
                                        </div>
                                      </div>
                                </td>       
                              </tr>
                              <tr>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 43 43">
                                        <g id="Group_365" data-name="Group 365" transform="translate(-88 -416)">
                                          <g id="Ellipse_69" data-name="Ellipse 69" transform="translate(88 416)" fill="#787878" stroke="#707070" stroke-width="1">
                                            <circle cx="21.5" cy="21.5" r="21.5" stroke="none"/>
                                            <circle cx="21.5" cy="21.5" r="21" fill="none"/>
                                          </g>
                                          <g id="user_9_" data-name="user (9)" transform="translate(97.844 423.065)">
                                            <path id="Path_463" data-name="Path 463" d="M93.762,13.46a6.512,6.512,0,0,0,4.758-1.972,6.511,6.511,0,0,0,1.971-4.758A6.513,6.513,0,0,0,98.52,1.971a6.728,6.728,0,0,0-9.517,0A6.512,6.512,0,0,0,87.032,6.73,6.512,6.512,0,0,0,89,11.488,6.513,6.513,0,0,0,93.762,13.46Zm0,0" transform="translate(-82.282 0)" fill="#fff"/>
                                            <path id="Path_464" data-name="Path 464" d="M23.255,255.3a16.623,16.623,0,0,0-.226-1.766,13.906,13.906,0,0,0-.434-1.775,8.767,8.767,0,0,0-.73-1.656,6.248,6.248,0,0,0-1.1-1.434,4.851,4.851,0,0,0-1.581-.993,5.462,5.462,0,0,0-2.018-.365,2.048,2.048,0,0,0-1.094.464c-.328.214-.711.461-1.139.735a6.529,6.529,0,0,1-1.474.65,5.725,5.725,0,0,1-3.606,0,6.516,6.516,0,0,1-1.473-.649c-.424-.271-.808-.518-1.14-.735a2.045,2.045,0,0,0-1.093-.464,5.456,5.456,0,0,0-2.018.366,4.847,4.847,0,0,0-1.581.993,6.248,6.248,0,0,0-1.1,1.434,8.785,8.785,0,0,0-.73,1.656,13.944,13.944,0,0,0-.434,1.775,16.564,16.564,0,0,0-.226,1.766C.019,255.84,0,256.4,0,256.956a4.64,4.64,0,0,0,1.378,3.51,4.961,4.961,0,0,0,3.551,1.3H18.382a4.959,4.959,0,0,0,3.551-1.3,4.638,4.638,0,0,0,1.378-3.51c0-.563-.019-1.118-.056-1.65Zm0,0" transform="translate(0 -233.82)" fill="#fff"/>
                                          </g>
                                        </g>
                                      </svg> Jimmy Tay Boon Han
                                </td>
                                <td>+6012 222 4999</td>
                                <td>CIMB Bank - Taman Mutiara</td>
                                <td>Human Resources</td>
                                <td>05-03-2022, 03:32 pm</td>
                                <td class="text-center" dropdown>
                                    <div class="dropdown dropleft">                              
                                        <img class="dropdown-toggle" style="width:5px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="../../../../assets/img/general/table-action.png ">
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                          
                                          <a class="dropdown-item" href="#"><i class="fa fa-pencil mr-1"></i> Edit Contacts</a>
                                          <a class="dropdown-item" href="#"><i class="fa fa-trash-o mr-1"></i> Delete Contact</a>                                 
                                        </div>
                                      </div>
                                </td>       
                              </tr>
                              <tr>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 43 43">
                                        <g id="Group_365" data-name="Group 365" transform="translate(-88 -416)">
                                          <g id="Ellipse_69" data-name="Ellipse 69" transform="translate(88 416)" fill="#787878" stroke="#707070" stroke-width="1">
                                            <circle cx="21.5" cy="21.5" r="21.5" stroke="none"/>
                                            <circle cx="21.5" cy="21.5" r="21" fill="none"/>
                                          </g>
                                          <g id="user_9_" data-name="user (9)" transform="translate(97.844 423.065)">
                                            <path id="Path_463" data-name="Path 463" d="M93.762,13.46a6.512,6.512,0,0,0,4.758-1.972,6.511,6.511,0,0,0,1.971-4.758A6.513,6.513,0,0,0,98.52,1.971a6.728,6.728,0,0,0-9.517,0A6.512,6.512,0,0,0,87.032,6.73,6.512,6.512,0,0,0,89,11.488,6.513,6.513,0,0,0,93.762,13.46Zm0,0" transform="translate(-82.282 0)" fill="#fff"/>
                                            <path id="Path_464" data-name="Path 464" d="M23.255,255.3a16.623,16.623,0,0,0-.226-1.766,13.906,13.906,0,0,0-.434-1.775,8.767,8.767,0,0,0-.73-1.656,6.248,6.248,0,0,0-1.1-1.434,4.851,4.851,0,0,0-1.581-.993,5.462,5.462,0,0,0-2.018-.365,2.048,2.048,0,0,0-1.094.464c-.328.214-.711.461-1.139.735a6.529,6.529,0,0,1-1.474.65,5.725,5.725,0,0,1-3.606,0,6.516,6.516,0,0,1-1.473-.649c-.424-.271-.808-.518-1.14-.735a2.045,2.045,0,0,0-1.093-.464,5.456,5.456,0,0,0-2.018.366,4.847,4.847,0,0,0-1.581.993,6.248,6.248,0,0,0-1.1,1.434,8.785,8.785,0,0,0-.73,1.656,13.944,13.944,0,0,0-.434,1.775,16.564,16.564,0,0,0-.226,1.766C.019,255.84,0,256.4,0,256.956a4.64,4.64,0,0,0,1.378,3.51,4.961,4.961,0,0,0,3.551,1.3H18.382a4.959,4.959,0,0,0,3.551-1.3,4.638,4.638,0,0,0,1.378-3.51c0-.563-.019-1.118-.056-1.65Zm0,0" transform="translate(0 -233.82)" fill="#fff"/>
                                          </g>
                                        </g>
                                      </svg> Jimmy Tay Boon Han
                                </td>
                                <td>+6012 222 4999</td>
                                <td>CIMB Bank - Taman Mutiara</td>
                                <td>Human Resources</td>
                                <td>05-03-2022, 03:32 pm</td>
                                <td class="text-center" dropdown>
                                    <div class="dropdown dropleft">                              
                                        <img class="dropdown-toggle" style="width:5px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="../../../../assets/img/general/table-action.png ">
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                          
                                          <a class="dropdown-item" href="#"><i class="fa fa-pencil mr-1"></i> Edit Contacts</a>
                                          <a class="dropdown-item" href="#"><i class="fa fa-trash-o mr-1"></i> Delete Contact</a>                                 
                                        </div>
                                      </div>
                                </td>       
                              </tr>
                              <tr>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 43 43">
                                        <g id="Group_365" data-name="Group 365" transform="translate(-88 -416)">
                                          <g id="Ellipse_69" data-name="Ellipse 69" transform="translate(88 416)" fill="#787878" stroke="#707070" stroke-width="1">
                                            <circle cx="21.5" cy="21.5" r="21.5" stroke="none"/>
                                            <circle cx="21.5" cy="21.5" r="21" fill="none"/>
                                          </g>
                                          <g id="user_9_" data-name="user (9)" transform="translate(97.844 423.065)">
                                            <path id="Path_463" data-name="Path 463" d="M93.762,13.46a6.512,6.512,0,0,0,4.758-1.972,6.511,6.511,0,0,0,1.971-4.758A6.513,6.513,0,0,0,98.52,1.971a6.728,6.728,0,0,0-9.517,0A6.512,6.512,0,0,0,87.032,6.73,6.512,6.512,0,0,0,89,11.488,6.513,6.513,0,0,0,93.762,13.46Zm0,0" transform="translate(-82.282 0)" fill="#fff"/>
                                            <path id="Path_464" data-name="Path 464" d="M23.255,255.3a16.623,16.623,0,0,0-.226-1.766,13.906,13.906,0,0,0-.434-1.775,8.767,8.767,0,0,0-.73-1.656,6.248,6.248,0,0,0-1.1-1.434,4.851,4.851,0,0,0-1.581-.993,5.462,5.462,0,0,0-2.018-.365,2.048,2.048,0,0,0-1.094.464c-.328.214-.711.461-1.139.735a6.529,6.529,0,0,1-1.474.65,5.725,5.725,0,0,1-3.606,0,6.516,6.516,0,0,1-1.473-.649c-.424-.271-.808-.518-1.14-.735a2.045,2.045,0,0,0-1.093-.464,5.456,5.456,0,0,0-2.018.366,4.847,4.847,0,0,0-1.581.993,6.248,6.248,0,0,0-1.1,1.434,8.785,8.785,0,0,0-.73,1.656,13.944,13.944,0,0,0-.434,1.775,16.564,16.564,0,0,0-.226,1.766C.019,255.84,0,256.4,0,256.956a4.64,4.64,0,0,0,1.378,3.51,4.961,4.961,0,0,0,3.551,1.3H18.382a4.959,4.959,0,0,0,3.551-1.3,4.638,4.638,0,0,0,1.378-3.51c0-.563-.019-1.118-.056-1.65Zm0,0" transform="translate(0 -233.82)" fill="#fff"/>
                                          </g>
                                        </g>
                                      </svg> Jimmy Tay Boon Han
                                </td>
                                <td>+6012 222 4999</td>
                                <td>CIMB Bank - Taman Mutiara</td>
                                <td>Human Resources</td>
                                <td>05-03-2022, 03:32 pm</td>
                                <td class="text-center" dropdown>
                                    <div class="dropdown dropleft">                              
                                        <img class="dropdown-toggle" style="width:5px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="../../../../assets/img/general/table-action.png ">
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                          
                                          <a class="dropdown-item" href="#"><i class="fa fa-pencil mr-1"></i> Edit Contacts</a>
                                          <a class="dropdown-item" href="#"><i class="fa fa-trash-o mr-1"></i> Delete Contact</a>                                 
                                        </div>
                                      </div>
                                </td>       
                              </tr>
                              <tr>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 43 43">
                                        <g id="Group_365" data-name="Group 365" transform="translate(-88 -416)">
                                          <g id="Ellipse_69" data-name="Ellipse 69" transform="translate(88 416)" fill="#787878" stroke="#707070" stroke-width="1">
                                            <circle cx="21.5" cy="21.5" r="21.5" stroke="none"/>
                                            <circle cx="21.5" cy="21.5" r="21" fill="none"/>
                                          </g>
                                          <g id="user_9_" data-name="user (9)" transform="translate(97.844 423.065)">
                                            <path id="Path_463" data-name="Path 463" d="M93.762,13.46a6.512,6.512,0,0,0,4.758-1.972,6.511,6.511,0,0,0,1.971-4.758A6.513,6.513,0,0,0,98.52,1.971a6.728,6.728,0,0,0-9.517,0A6.512,6.512,0,0,0,87.032,6.73,6.512,6.512,0,0,0,89,11.488,6.513,6.513,0,0,0,93.762,13.46Zm0,0" transform="translate(-82.282 0)" fill="#fff"/>
                                            <path id="Path_464" data-name="Path 464" d="M23.255,255.3a16.623,16.623,0,0,0-.226-1.766,13.906,13.906,0,0,0-.434-1.775,8.767,8.767,0,0,0-.73-1.656,6.248,6.248,0,0,0-1.1-1.434,4.851,4.851,0,0,0-1.581-.993,5.462,5.462,0,0,0-2.018-.365,2.048,2.048,0,0,0-1.094.464c-.328.214-.711.461-1.139.735a6.529,6.529,0,0,1-1.474.65,5.725,5.725,0,0,1-3.606,0,6.516,6.516,0,0,1-1.473-.649c-.424-.271-.808-.518-1.14-.735a2.045,2.045,0,0,0-1.093-.464,5.456,5.456,0,0,0-2.018.366,4.847,4.847,0,0,0-1.581.993,6.248,6.248,0,0,0-1.1,1.434,8.785,8.785,0,0,0-.73,1.656,13.944,13.944,0,0,0-.434,1.775,16.564,16.564,0,0,0-.226,1.766C.019,255.84,0,256.4,0,256.956a4.64,4.64,0,0,0,1.378,3.51,4.961,4.961,0,0,0,3.551,1.3H18.382a4.959,4.959,0,0,0,3.551-1.3,4.638,4.638,0,0,0,1.378-3.51c0-.563-.019-1.118-.056-1.65Zm0,0" transform="translate(0 -233.82)" fill="#fff"/>
                                          </g>
                                        </g>
                                      </svg> Jimmy Tay Boon Han
                                </td>
                                <td>+6012 222 4999</td>
                                <td>CIMB Bank - Taman Mutiara</td>
                                <td>Human Resources</td>
                                <td>05-03-2022, 03:32 pm</td>
                                <td class="text-center" dropdown>
                                    <div class="dropdown dropleft">                              
                                        <img class="dropdown-toggle" style="width:5px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="../../../../assets/img/general/table-action.png ">
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                          
                                          <a class="dropdown-item" href="#"><i class="fa fa-pencil mr-1"></i> Edit Contacts</a>
                                          <a class="dropdown-item" href="#"><i class="fa fa-trash-o mr-1"></i> Delete Contact</a>                                 
                                        </div>
                                      </div>
                                </td>       
                              </tr>
                              <tr>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 43 43">
                                        <g id="Group_365" data-name="Group 365" transform="translate(-88 -416)">
                                          <g id="Ellipse_69" data-name="Ellipse 69" transform="translate(88 416)" fill="#787878" stroke="#707070" stroke-width="1">
                                            <circle cx="21.5" cy="21.5" r="21.5" stroke="none"/>
                                            <circle cx="21.5" cy="21.5" r="21" fill="none"/>
                                          </g>
                                          <g id="user_9_" data-name="user (9)" transform="translate(97.844 423.065)">
                                            <path id="Path_463" data-name="Path 463" d="M93.762,13.46a6.512,6.512,0,0,0,4.758-1.972,6.511,6.511,0,0,0,1.971-4.758A6.513,6.513,0,0,0,98.52,1.971a6.728,6.728,0,0,0-9.517,0A6.512,6.512,0,0,0,87.032,6.73,6.512,6.512,0,0,0,89,11.488,6.513,6.513,0,0,0,93.762,13.46Zm0,0" transform="translate(-82.282 0)" fill="#fff"/>
                                            <path id="Path_464" data-name="Path 464" d="M23.255,255.3a16.623,16.623,0,0,0-.226-1.766,13.906,13.906,0,0,0-.434-1.775,8.767,8.767,0,0,0-.73-1.656,6.248,6.248,0,0,0-1.1-1.434,4.851,4.851,0,0,0-1.581-.993,5.462,5.462,0,0,0-2.018-.365,2.048,2.048,0,0,0-1.094.464c-.328.214-.711.461-1.139.735a6.529,6.529,0,0,1-1.474.65,5.725,5.725,0,0,1-3.606,0,6.516,6.516,0,0,1-1.473-.649c-.424-.271-.808-.518-1.14-.735a2.045,2.045,0,0,0-1.093-.464,5.456,5.456,0,0,0-2.018.366,4.847,4.847,0,0,0-1.581.993,6.248,6.248,0,0,0-1.1,1.434,8.785,8.785,0,0,0-.73,1.656,13.944,13.944,0,0,0-.434,1.775,16.564,16.564,0,0,0-.226,1.766C.019,255.84,0,256.4,0,256.956a4.64,4.64,0,0,0,1.378,3.51,4.961,4.961,0,0,0,3.551,1.3H18.382a4.959,4.959,0,0,0,3.551-1.3,4.638,4.638,0,0,0,1.378-3.51c0-.563-.019-1.118-.056-1.65Zm0,0" transform="translate(0 -233.82)" fill="#fff"/>
                                          </g>
                                        </g>
                                      </svg> Jimmy Tay Boon Han
                                </td>
                                <td>+6012 222 4999</td>
                                <td>CIMB Bank - Taman Mutiara</td>
                                <td>Human Resources</td>
                                <td>05-03-2022, 03:32 pm</td>
                                <td class="text-center" dropdown>
                                    <div class="dropdown dropleft">                              
                                        <img class="dropdown-toggle" style="width:5px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="../../../../assets/img/general/table-action.png ">
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                          
                                          <a class="dropdown-item" href="#"><i class="fa fa-pencil mr-1"></i> Edit Contacts</a>
                                          <a class="dropdown-item" href="#"><i class="fa fa-trash-o mr-1"></i> Delete Contact</a>                                 
                                        </div>
                                      </div>
                                </td>       
                              </tr>
                              <tr>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 43 43">
                                        <g id="Group_365" data-name="Group 365" transform="translate(-88 -416)">
                                          <g id="Ellipse_69" data-name="Ellipse 69" transform="translate(88 416)" fill="#787878" stroke="#707070" stroke-width="1">
                                            <circle cx="21.5" cy="21.5" r="21.5" stroke="none"/>
                                            <circle cx="21.5" cy="21.5" r="21" fill="none"/>
                                          </g>
                                          <g id="user_9_" data-name="user (9)" transform="translate(97.844 423.065)">
                                            <path id="Path_463" data-name="Path 463" d="M93.762,13.46a6.512,6.512,0,0,0,4.758-1.972,6.511,6.511,0,0,0,1.971-4.758A6.513,6.513,0,0,0,98.52,1.971a6.728,6.728,0,0,0-9.517,0A6.512,6.512,0,0,0,87.032,6.73,6.512,6.512,0,0,0,89,11.488,6.513,6.513,0,0,0,93.762,13.46Zm0,0" transform="translate(-82.282 0)" fill="#fff"/>
                                            <path id="Path_464" data-name="Path 464" d="M23.255,255.3a16.623,16.623,0,0,0-.226-1.766,13.906,13.906,0,0,0-.434-1.775,8.767,8.767,0,0,0-.73-1.656,6.248,6.248,0,0,0-1.1-1.434,4.851,4.851,0,0,0-1.581-.993,5.462,5.462,0,0,0-2.018-.365,2.048,2.048,0,0,0-1.094.464c-.328.214-.711.461-1.139.735a6.529,6.529,0,0,1-1.474.65,5.725,5.725,0,0,1-3.606,0,6.516,6.516,0,0,1-1.473-.649c-.424-.271-.808-.518-1.14-.735a2.045,2.045,0,0,0-1.093-.464,5.456,5.456,0,0,0-2.018.366,4.847,4.847,0,0,0-1.581.993,6.248,6.248,0,0,0-1.1,1.434,8.785,8.785,0,0,0-.73,1.656,13.944,13.944,0,0,0-.434,1.775,16.564,16.564,0,0,0-.226,1.766C.019,255.84,0,256.4,0,256.956a4.64,4.64,0,0,0,1.378,3.51,4.961,4.961,0,0,0,3.551,1.3H18.382a4.959,4.959,0,0,0,3.551-1.3,4.638,4.638,0,0,0,1.378-3.51c0-.563-.019-1.118-.056-1.65Zm0,0" transform="translate(0 -233.82)" fill="#fff"/>
                                          </g>
                                        </g>
                                      </svg> Jimmy Tay Boon Han
                                </td>
                                <td>+6012 222 4999</td>
                                <td>CIMB Bank - Taman Mutiara</td>
                                <td>Human Resources</td>
                                <td>05-03-2022, 03:32 pm</td>
                                <td class="text-center" dropdown>
                                    <div class="dropdown dropleft">                              
                                        <img class="dropdown-toggle" style="width:5px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="../../../../assets/img/general/table-action.png ">
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                          
                                          <a class="dropdown-item" href="#"><i class="fa fa-pencil mr-1"></i> Edit Contacts</a>
                                          <a class="dropdown-item" href="#"><i class="fa fa-trash-o mr-1"></i> Delete Contact</a>                                 
                                        </div>
                                      </div>
                                </td>       
                              </tr>
                              <tr>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 43 43">
                                        <g id="Group_365" data-name="Group 365" transform="translate(-88 -416)">
                                          <g id="Ellipse_69" data-name="Ellipse 69" transform="translate(88 416)" fill="#787878" stroke="#707070" stroke-width="1">
                                            <circle cx="21.5" cy="21.5" r="21.5" stroke="none"/>
                                            <circle cx="21.5" cy="21.5" r="21" fill="none"/>
                                          </g>
                                          <g id="user_9_" data-name="user (9)" transform="translate(97.844 423.065)">
                                            <path id="Path_463" data-name="Path 463" d="M93.762,13.46a6.512,6.512,0,0,0,4.758-1.972,6.511,6.511,0,0,0,1.971-4.758A6.513,6.513,0,0,0,98.52,1.971a6.728,6.728,0,0,0-9.517,0A6.512,6.512,0,0,0,87.032,6.73,6.512,6.512,0,0,0,89,11.488,6.513,6.513,0,0,0,93.762,13.46Zm0,0" transform="translate(-82.282 0)" fill="#fff"/>
                                            <path id="Path_464" data-name="Path 464" d="M23.255,255.3a16.623,16.623,0,0,0-.226-1.766,13.906,13.906,0,0,0-.434-1.775,8.767,8.767,0,0,0-.73-1.656,6.248,6.248,0,0,0-1.1-1.434,4.851,4.851,0,0,0-1.581-.993,5.462,5.462,0,0,0-2.018-.365,2.048,2.048,0,0,0-1.094.464c-.328.214-.711.461-1.139.735a6.529,6.529,0,0,1-1.474.65,5.725,5.725,0,0,1-3.606,0,6.516,6.516,0,0,1-1.473-.649c-.424-.271-.808-.518-1.14-.735a2.045,2.045,0,0,0-1.093-.464,5.456,5.456,0,0,0-2.018.366,4.847,4.847,0,0,0-1.581.993,6.248,6.248,0,0,0-1.1,1.434,8.785,8.785,0,0,0-.73,1.656,13.944,13.944,0,0,0-.434,1.775,16.564,16.564,0,0,0-.226,1.766C.019,255.84,0,256.4,0,256.956a4.64,4.64,0,0,0,1.378,3.51,4.961,4.961,0,0,0,3.551,1.3H18.382a4.959,4.959,0,0,0,3.551-1.3,4.638,4.638,0,0,0,1.378-3.51c0-.563-.019-1.118-.056-1.65Zm0,0" transform="translate(0 -233.82)" fill="#fff"/>
                                          </g>
                                        </g>
                                      </svg> Jimmy Tay Boon Han
                                </td>
                                <td>+6012 222 4999</td>
                                <td>CIMB Bank - Taman Mutiara</td>
                                <td>Human Resources</td>
                                <td>05-03-2022, 03:32 pm</td>
                                <td class="text-center" dropdown>
                                    <div class="dropdown dropleft">                              
                                        <img class="dropdown-toggle" style="width:5px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="../../../../assets/img/general/table-action.png ">
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                          
                                          <a class="dropdown-item" href="#"><i class="fa fa-pencil mr-1"></i> Edit Contacts</a>
                                          <a class="dropdown-item" href="#"><i class="fa fa-trash-o mr-1"></i> Delete Contact</a>                                 
                                        </div>
                                      </div>
                                </td>       
                              </tr>
                              <tr>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 43 43">
                                        <g id="Group_365" data-name="Group 365" transform="translate(-88 -416)">
                                          <g id="Ellipse_69" data-name="Ellipse 69" transform="translate(88 416)" fill="#787878" stroke="#707070" stroke-width="1">
                                            <circle cx="21.5" cy="21.5" r="21.5" stroke="none"/>
                                            <circle cx="21.5" cy="21.5" r="21" fill="none"/>
                                          </g>
                                          <g id="user_9_" data-name="user (9)" transform="translate(97.844 423.065)">
                                            <path id="Path_463" data-name="Path 463" d="M93.762,13.46a6.512,6.512,0,0,0,4.758-1.972,6.511,6.511,0,0,0,1.971-4.758A6.513,6.513,0,0,0,98.52,1.971a6.728,6.728,0,0,0-9.517,0A6.512,6.512,0,0,0,87.032,6.73,6.512,6.512,0,0,0,89,11.488,6.513,6.513,0,0,0,93.762,13.46Zm0,0" transform="translate(-82.282 0)" fill="#fff"/>
                                            <path id="Path_464" data-name="Path 464" d="M23.255,255.3a16.623,16.623,0,0,0-.226-1.766,13.906,13.906,0,0,0-.434-1.775,8.767,8.767,0,0,0-.73-1.656,6.248,6.248,0,0,0-1.1-1.434,4.851,4.851,0,0,0-1.581-.993,5.462,5.462,0,0,0-2.018-.365,2.048,2.048,0,0,0-1.094.464c-.328.214-.711.461-1.139.735a6.529,6.529,0,0,1-1.474.65,5.725,5.725,0,0,1-3.606,0,6.516,6.516,0,0,1-1.473-.649c-.424-.271-.808-.518-1.14-.735a2.045,2.045,0,0,0-1.093-.464,5.456,5.456,0,0,0-2.018.366,4.847,4.847,0,0,0-1.581.993,6.248,6.248,0,0,0-1.1,1.434,8.785,8.785,0,0,0-.73,1.656,13.944,13.944,0,0,0-.434,1.775,16.564,16.564,0,0,0-.226,1.766C.019,255.84,0,256.4,0,256.956a4.64,4.64,0,0,0,1.378,3.51,4.961,4.961,0,0,0,3.551,1.3H18.382a4.959,4.959,0,0,0,3.551-1.3,4.638,4.638,0,0,0,1.378-3.51c0-.563-.019-1.118-.056-1.65Zm0,0" transform="translate(0 -233.82)" fill="#fff"/>
                                          </g>
                                        </g>
                                      </svg> Jimmy Tay Boon Han
                                </td>
                                <td>+6012 222 4999</td>
                                <td>CIMB Bank - Taman Mutiara</td>
                                <td>Human Resources</td>
                                <td>05-03-2022, 03:32 pm</td>
                                <td class="text-center" dropdown>
                                    <div class="dropdown dropleft">                              
                                        <img class="dropdown-toggle" style="width:5px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="../../../../assets/img/general/table-action.png ">
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                          
                                          <a class="dropdown-item" href="#"><i class="fa fa-pencil mr-1"></i> Edit Contacts</a>
                                          <a class="dropdown-item" href="#"><i class="fa fa-trash-o mr-1"></i> Delete Contact</a>                                 
                                        </div>
                                      </div>
                                </td>       
                              </tr>
                              <tr>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 43 43">
                                        <g id="Group_365" data-name="Group 365" transform="translate(-88 -416)">
                                          <g id="Ellipse_69" data-name="Ellipse 69" transform="translate(88 416)" fill="#787878" stroke="#707070" stroke-width="1">
                                            <circle cx="21.5" cy="21.5" r="21.5" stroke="none"/>
                                            <circle cx="21.5" cy="21.5" r="21" fill="none"/>
                                          </g>
                                          <g id="user_9_" data-name="user (9)" transform="translate(97.844 423.065)">
                                            <path id="Path_463" data-name="Path 463" d="M93.762,13.46a6.512,6.512,0,0,0,4.758-1.972,6.511,6.511,0,0,0,1.971-4.758A6.513,6.513,0,0,0,98.52,1.971a6.728,6.728,0,0,0-9.517,0A6.512,6.512,0,0,0,87.032,6.73,6.512,6.512,0,0,0,89,11.488,6.513,6.513,0,0,0,93.762,13.46Zm0,0" transform="translate(-82.282 0)" fill="#fff"/>
                                            <path id="Path_464" data-name="Path 464" d="M23.255,255.3a16.623,16.623,0,0,0-.226-1.766,13.906,13.906,0,0,0-.434-1.775,8.767,8.767,0,0,0-.73-1.656,6.248,6.248,0,0,0-1.1-1.434,4.851,4.851,0,0,0-1.581-.993,5.462,5.462,0,0,0-2.018-.365,2.048,2.048,0,0,0-1.094.464c-.328.214-.711.461-1.139.735a6.529,6.529,0,0,1-1.474.65,5.725,5.725,0,0,1-3.606,0,6.516,6.516,0,0,1-1.473-.649c-.424-.271-.808-.518-1.14-.735a2.045,2.045,0,0,0-1.093-.464,5.456,5.456,0,0,0-2.018.366,4.847,4.847,0,0,0-1.581.993,6.248,6.248,0,0,0-1.1,1.434,8.785,8.785,0,0,0-.73,1.656,13.944,13.944,0,0,0-.434,1.775,16.564,16.564,0,0,0-.226,1.766C.019,255.84,0,256.4,0,256.956a4.64,4.64,0,0,0,1.378,3.51,4.961,4.961,0,0,0,3.551,1.3H18.382a4.959,4.959,0,0,0,3.551-1.3,4.638,4.638,0,0,0,1.378-3.51c0-.563-.019-1.118-.056-1.65Zm0,0" transform="translate(0 -233.82)" fill="#fff"/>
                                          </g>
                                        </g>
                                      </svg> Jimmy Tay Boon Han
                                </td>
                                <td>+6012 222 4999</td>
                                <td>CIMB Bank - Taman Mutiara</td>
                                <td>Human Resources</td>
                                <td>05-03-2022, 03:32 pm</td>
                                <td class="text-center" dropdown>
                                    <div class="dropdown dropleft">                              
                                        <img class="dropdown-toggle" style="width:5px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="../../../../assets/img/general/table-action.png ">
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                          
                                          <a class="dropdown-item" href="#"><i class="fa fa-pencil mr-1"></i> Edit Contacts</a>
                                          <a class="dropdown-item" href="#"><i class="fa fa-trash-o mr-1"></i> Delete Contact</a>                                 
                                        </div>
                                      </div>
                                </td>       
                              </tr>
                              <tr>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 43 43">
                                        <g id="Group_365" data-name="Group 365" transform="translate(-88 -416)">
                                          <g id="Ellipse_69" data-name="Ellipse 69" transform="translate(88 416)" fill="#787878" stroke="#707070" stroke-width="1">
                                            <circle cx="21.5" cy="21.5" r="21.5" stroke="none"/>
                                            <circle cx="21.5" cy="21.5" r="21" fill="none"/>
                                          </g>
                                          <g id="user_9_" data-name="user (9)" transform="translate(97.844 423.065)">
                                            <path id="Path_463" data-name="Path 463" d="M93.762,13.46a6.512,6.512,0,0,0,4.758-1.972,6.511,6.511,0,0,0,1.971-4.758A6.513,6.513,0,0,0,98.52,1.971a6.728,6.728,0,0,0-9.517,0A6.512,6.512,0,0,0,87.032,6.73,6.512,6.512,0,0,0,89,11.488,6.513,6.513,0,0,0,93.762,13.46Zm0,0" transform="translate(-82.282 0)" fill="#fff"/>
                                            <path id="Path_464" data-name="Path 464" d="M23.255,255.3a16.623,16.623,0,0,0-.226-1.766,13.906,13.906,0,0,0-.434-1.775,8.767,8.767,0,0,0-.73-1.656,6.248,6.248,0,0,0-1.1-1.434,4.851,4.851,0,0,0-1.581-.993,5.462,5.462,0,0,0-2.018-.365,2.048,2.048,0,0,0-1.094.464c-.328.214-.711.461-1.139.735a6.529,6.529,0,0,1-1.474.65,5.725,5.725,0,0,1-3.606,0,6.516,6.516,0,0,1-1.473-.649c-.424-.271-.808-.518-1.14-.735a2.045,2.045,0,0,0-1.093-.464,5.456,5.456,0,0,0-2.018.366,4.847,4.847,0,0,0-1.581.993,6.248,6.248,0,0,0-1.1,1.434,8.785,8.785,0,0,0-.73,1.656,13.944,13.944,0,0,0-.434,1.775,16.564,16.564,0,0,0-.226,1.766C.019,255.84,0,256.4,0,256.956a4.64,4.64,0,0,0,1.378,3.51,4.961,4.961,0,0,0,3.551,1.3H18.382a4.959,4.959,0,0,0,3.551-1.3,4.638,4.638,0,0,0,1.378-3.51c0-.563-.019-1.118-.056-1.65Zm0,0" transform="translate(0 -233.82)" fill="#fff"/>
                                          </g>
                                        </g>
                                      </svg> Jimmy Tay Boon Han
                                </td>
                                <td>+6012 222 4999</td>
                                <td>CIMB Bank - Taman Mutiara</td>
                                <td>Human Resources</td>
                                <td>05-03-2022, 03:32 pm</td>
                                <td class="text-center" dropdown>
                                    <div class="dropdown dropleft">                              
                                        <img class="dropdown-toggle" style="width:5px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="../../../../assets/img/general/table-action.png ">
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                          
                                          <a class="dropdown-item" href="#"><i class="fa fa-pencil mr-1"></i> Edit Contacts</a>
                                          <a class="dropdown-item" href="#"><i class="fa fa-trash-o mr-1"></i> Delete Contact</a>                                 
                                        </div>
                                      </div>
                                </td>       
                              </tr>
                              <tr>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 43 43">
                                        <g id="Group_365" data-name="Group 365" transform="translate(-88 -416)">
                                          <g id="Ellipse_69" data-name="Ellipse 69" transform="translate(88 416)" fill="#787878" stroke="#707070" stroke-width="1">
                                            <circle cx="21.5" cy="21.5" r="21.5" stroke="none"/>
                                            <circle cx="21.5" cy="21.5" r="21" fill="none"/>
                                          </g>
                                          <g id="user_9_" data-name="user (9)" transform="translate(97.844 423.065)">
                                            <path id="Path_463" data-name="Path 463" d="M93.762,13.46a6.512,6.512,0,0,0,4.758-1.972,6.511,6.511,0,0,0,1.971-4.758A6.513,6.513,0,0,0,98.52,1.971a6.728,6.728,0,0,0-9.517,0A6.512,6.512,0,0,0,87.032,6.73,6.512,6.512,0,0,0,89,11.488,6.513,6.513,0,0,0,93.762,13.46Zm0,0" transform="translate(-82.282 0)" fill="#fff"/>
                                            <path id="Path_464" data-name="Path 464" d="M23.255,255.3a16.623,16.623,0,0,0-.226-1.766,13.906,13.906,0,0,0-.434-1.775,8.767,8.767,0,0,0-.73-1.656,6.248,6.248,0,0,0-1.1-1.434,4.851,4.851,0,0,0-1.581-.993,5.462,5.462,0,0,0-2.018-.365,2.048,2.048,0,0,0-1.094.464c-.328.214-.711.461-1.139.735a6.529,6.529,0,0,1-1.474.65,5.725,5.725,0,0,1-3.606,0,6.516,6.516,0,0,1-1.473-.649c-.424-.271-.808-.518-1.14-.735a2.045,2.045,0,0,0-1.093-.464,5.456,5.456,0,0,0-2.018.366,4.847,4.847,0,0,0-1.581.993,6.248,6.248,0,0,0-1.1,1.434,8.785,8.785,0,0,0-.73,1.656,13.944,13.944,0,0,0-.434,1.775,16.564,16.564,0,0,0-.226,1.766C.019,255.84,0,256.4,0,256.956a4.64,4.64,0,0,0,1.378,3.51,4.961,4.961,0,0,0,3.551,1.3H18.382a4.959,4.959,0,0,0,3.551-1.3,4.638,4.638,0,0,0,1.378-3.51c0-.563-.019-1.118-.056-1.65Zm0,0" transform="translate(0 -233.82)" fill="#fff"/>
                                          </g>
                                        </g>
                                      </svg> Jimmy Tay Boon Han
                                </td>
                                <td>+6012 222 4999</td>
                                <td>CIMB Bank - Taman Mutiara</td>
                                <td>Human Resources</td>
                                <td>05-03-2022, 03:32 pm</td>
                                <td class="text-center" dropdown>
                                    <div class="dropdown dropleft">                              
                                        <img class="dropdown-toggle" style="width:5px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="../../../../assets/img/general/table-action.png ">
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                          
                                          <a class="dropdown-item" href="#"><i class="fa fa-pencil mr-1"></i> Edit Contacts</a>
                                          <a class="dropdown-item" href="#"><i class="fa fa-trash-o mr-1"></i> Delete Contact</a>                                 
                                        </div>
                                      </div>
                                </td>       
                              </tr>
                            </tbody>
                        </table> 
                    </div>                    
                </div>
            </div>
        </div>

        <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
              role="dialog" aria-labelledby="dialog-sizes-name1">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 id="dialog-sizes-name1" class="modal-title pull-left">Add New Contact</h4>
                  <button type="button" class="btn-close close pull-right" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                  </button>
                </div>
                <div class="modal-body w-75">
                    <h6>Enter Contact Information</h6>
                    <p>Personal Information </p>
                    <div class="form-group">            
                    <label>Name</label>   
                    <input type="text" name="contactname" class="form-control"/> 
                    </div>
                    <div class="form-group">            
                    <label>Email</label>   
                    <input type="email" name="contactemail" class="form-control"/> 
                    </div>

                    <div class="form-group"> 
                      <label>Land Line</label>     
                      <div class="row">
                        <div class="col-md-2">
                          <input type="email" name="contactemail" class="form-control"/> 
                        </div>
                        <div class="col-md-10">
                          <input type="email" name="contactemail" class="form-control"/> 
                        </div>
                      </div>    
                      </div>
                    <div class="form-group"> 
                    <label>Mobile Number</label>     
                    <div class="row">
                      <div class="col-md-2">
                        <input type="email" name="contactemail" class="form-control"/> 
                      </div>
                      <div class="col-md-10">
                        <input type="email" name="contactemail" class="form-control"/> 
                      </div>
                    </div>    
                    </div>
                    <div class="form-group">            
                    <label>Company & Branch</label>   
                    <input type="text" name="companybranch" class="form-control"/> 
                    </div>
                    <div class="form-group">            
                    <label>Department</label>   
                    <input type="text" name="department" class="form-control"/> 
                    </div>
                    <div class="form-group">
                    <button type="button" class="btn btn-primary border-0 pl-4 pr-4 pt-2 pb-2 mr-2">Update</button>
                    <button type="button" class="btn btn-secondary">Cancel</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
</div>
</div>
