
<div class="container-fluid pt-3 checkdatabase">
    <div class="col-inner w-100">
        <h5 class="page-title mb-4">Checks Database</h5>
        <div class="row mb-3">
    
            <div class="col-md-12">
                <ul class="pl-0 d-flex mb-0">
                    <li class="mr-2">
                        <div class="d-flex justify-content-end ">
                            <div class="dropdown-list" dropdown>
                                <button class="btn status_by bg-white p-2" dropdownToggle><img src="assets/img/general/datepicker.svg" alt="upload"/> Ongoing Checks </button>
                                <div *dropdownMenu class="action_list dropdown-menu dropdown-caldendar">
                                </div>
                            </div>
                           
                        </div>
                    </li>
                    <li class="mr-2"> 
                        <div class="d-flex justify-content-end ">
                            <div class="dropdown-list" dropdown>
                                <button class="btn status_by bg-white p-2" dropdownToggle><img src="assets/img/general/briefcase.svg" alt="upload"/> Any Case</button>
                                <div *dropdownMenu class="action_list dropdown-menu dropdown-caldendar">
                                </div>
                            </div>
                           
                        </div>
                    </li>
                    <li>
                        <div class="membersearch ml-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="memb-search">
                                    <img src="assets/img/general/search.svg" alt=""/>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search Users..." aria-label="Search users.." aria-describedby="memb-search">
                        </div>
                    </div>
                </li>
                </ul>
            </div>
            <div class="col-md-4">                
            </div>     
      </div>
      <div class="w-75">
        <div class=" border-0 ">
          <div class="pl-3 pr-3 pt-0">
              <div class="row">
                    <table datatable  datatable [dtOptions]="dtOptions" class="table table-custom mb-0">
                      <thead>
                          <tr>
                              <th>CHECK NAME</th>
                              <th>NO. OF ONGOING CHECKS</th>
                              <th>DATE CREATED</th>
                              <th></th>                           
                          </tr>
                      </thead>
                      <tbody> 
                        <tr>
                          <td>Education Check</td>
                          <td>20</td>
                          <td>05-03-2022, 03:32 pm</td>
                          <td class="text-center" dropdown>
                              <div class="dropdown dropleft">                              
                                  <img class="dropdown-toggle" style="width:5px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="assets/img/general/table-action.png ">
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/check-database/checks-edit"><i class="fa fa-eye mr-1"></i>View Detail</a>                                                       
                                  </div>
                                </div>
                          </td>  
                        </tr>
                        <tr>
                          <td>Education Check</td>
                          <td>20</td>
                          <td>05-03-2022, 03:32 pm</td>
                          <td class="text-center" dropdown>
                              <div class="dropdown dropleft">                              
                                  <img class="dropdown-toggle" style="width:5px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="assets/img/general/table-action.png ">
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/check-database/checks-edit"><i class="fa fa-eye mr-1"></i>View Detail</a>                                                       
                                  </div>
                                </div>
                          </td>  
                        </tr>
                        <tr>
                          <td>Education Check</td>
                          <td>20</td>
                          <td>05-03-2022, 03:32 pm</td>
                          <td class="text-center" dropdown>
                              <div class="dropdown dropleft">                              
                                  <img class="dropdown-toggle" style="width:5px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="assets/img/general/table-action.png ">
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/check-database/checks-edit"><i class="fa fa-eye mr-1"></i>View Detail</a>                                                       
                                  </div>
                                </div>
                          </td>  
                        </tr>
                        <tr>
                          <td>Education Check</td>
                          <td>20</td>
                          <td>05-03-2022, 03:32 pm</td>
                          <td class="text-center" dropdown>
                              <div class="dropdown dropleft">                              
                                  <img class="dropdown-toggle" style="width:5px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="assets/img/general/table-action.png ">
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/check-database/checks-edit"><i class="fa fa-eye mr-1"></i>View Detail</a>                                                       
                                  </div>
                                </div>
                          </td>  
                        </tr>
                        <tr>
                          <td>Education Check</td>
                          <td>20</td>
                          <td>05-03-2022, 03:32 pm</td>
                          <td class="text-center" dropdown>
                              <div class="dropdown dropleft">                              
                                  <img class="dropdown-toggle" style="width:5px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="assets/img/general/table-action.png ">
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/check-database/checks-edit">View Detail</a>                                                       
                                  </div>
                                </div>
                          </td>  
                        </tr>
                       
                      </tbody>
                  </table> 
              </div>
          </div>
      </div>
      </div>
        <!-- <a><img src="assets/img/general/cnewuser.png" alt="create-newuser"></a> -->

    </div>
</div>
