
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root,
[data-bs-theme=light] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000000;
  --bs-white: #ffffff;
  --bs-gray: #7E8299;
  --bs-gray-dark: #3F4254;
  --bs-gray-100: #F9F9F9;
  --bs-gray-200: #F4F4F4;
  --bs-gray-300: #E1E3EA;
  --bs-gray-400: #B5B5C3;
  --bs-gray-500: #A1A5B7;
  --bs-gray-600: #7E8299;
  --bs-gray-700: #5E6278;
  --bs-gray-800: #3F4254;
  --bs-gray-900: #181C32;
  --bs-white: #ffffff;
  --bs-light: #F9F9F9;
  --bs-primary: #2C9AFF;
  --bs-secondary: #E1E3EA;
  --bs-success: #50CD89;
  --bs-info: #7239EA;
  --bs-warning: #E78B2F;
  --bs-danger: #F1416C;
  --bs-dark: #181C32;
  --bs-white-rgb: 255, 255, 255;
  --bs-light-rgb: 249, 249, 249;
  --bs-primary-rgb: 44, 154, 255;
  --bs-secondary-rgb: 225, 227, 234;
  --bs-success-rgb: 80, 205, 137;
  --bs-info-rgb: 114, 57, 234;
  --bs-warning-rgb: 231, 139, 47;
  --bs-danger-rgb: 241, 65, 108;
  --bs-dark-rgb: 24, 28, 50;
  --bs-primary-text: #0a58ca;
  --bs-secondary-text: #7E8299;
  --bs-success-text: #146c43;
  --bs-info-text: #087990;
  --bs-warning-text: #997404;
  --bs-danger-text: #b02a37;
  --bs-light-text: #7E8299;
  --bs-dark-text: #5E6278;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #F9F9F9;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfc;
  --bs-dark-bg-subtle: #B5B5C3;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #F4F4F4;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #F4F4F4;
  --bs-dark-border-subtle: #A1A5B7;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 24, 28, 50;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: Inter, Helvetica, "sans-serif";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #181C32;
  --bs-emphasis-color: #000000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(24, 28, 50, 0.75);
  --bs-secondary-color-rgb: 24, 28, 50;
  --bs-secondary-bg: #F4F4F4;
  --bs-secondary-bg-rgb: 244, 244, 244;
  --bs-tertiary-color: rgba(24, 28, 50, 0.5);
  --bs-tertiary-color-rgb: 24, 28, 50;
  --bs-tertiary-bg: #F9F9F9;
  --bs-tertiary-bg-rgb: 249, 249, 249;
  --bs-body-bg: #ffffff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-heading-color: #181C32;
  --bs-link-color: #2C9AFF;
  --bs-link-color-rgb: 44, 154, 255;
  --bs-link-decoration: none;
  --bs-link-hover-color: #2884EF;
  --bs-link-hover-color-rgb: 40, 132, 239;
  --bs-link-hover-decoration: none;
  --bs-code-color: #b93993;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #F4F4F4;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.75rem;
  --bs-border-radius-sm: 0.55rem;
  --bs-border-radius-lg: 1.25rem;
  --bs-border-radius-xl: 2rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-sm: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05);
  --bs-box-shadow-lg: 0 1rem 2rem 1rem rgba(0, 0, 0, 0.1);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-emphasis-color: #000000;
  --bs-form-control-bg: var(--bs-body-bg);
  --bs-form-control-disabled-bg: var(--bs-secondary-bg);
  --bs-highlight-bg: #fff3cd;
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}

[data-bs-theme=dark] {
  --bs-body-color: #FFFFFF;
  --bs-body-color-rgb: 255, 255, 255;
  --bs-body-bg: #1e1e2d;
  --bs-body-bg-rgb: 30, 30, 45;
  --bs-emphasis-color: #F9F9F9;
  --bs-emphasis-color-rgb: 249, 249, 249;
  --bs-secondary-color: rgba(255, 255, 255, 0.75);
  --bs-secondary-color-rgb: 255, 255, 255;
  --bs-secondary-bg: #3F4254;
  --bs-secondary-bg-rgb: 63, 66, 84;
  --bs-tertiary-color: rgba(255, 255, 255, 0.5);
  --bs-tertiary-color-rgb: 255, 255, 255;
  --bs-tertiary-bg: #2c2f43;
  --bs-tertiary-bg-rgb: 44, 47, 67;
  --bs-emphasis-color: #ffffff;
  --bs-primary-text: #6ea8fe;
  --bs-secondary-text: #E1E3EA;
  --bs-success-text: #75b798;
  --bs-info-text: #6edff6;
  --bs-warning-text: #ffda6a;
  --bs-danger-text: #ea868f;
  --bs-light-text: #F9F9F9;
  --bs-dark-text: #E1E3EA;
  --bs-primary-bg-subtle: #031633;
  --bs-secondary-bg-subtle: #181C32;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #3F4254;
  --bs-dark-bg-subtle: #20212a;
  --bs-primary-border-subtle: #084298;
  --bs-secondary-border-subtle: #5E6278;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #055160;
  --bs-warning-border-subtle: #664d03;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #5E6278;
  --bs-dark-border-subtle: #3F4254;
  --bs-heading-color: #FFFFFF;
  --bs-link-color: #2C9AFF;
  --bs-link-hover-color: #9ec5fe;
  --bs-link-color-rgb: 44, 154, 255;
  --bs-link-hover-color-rgb: 158, 197, 254;
  --bs-code-color: #b93993;
  --bs-border-color: #2B2B40;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height); */
  color: #5C6165;
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #F6F6F6;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
 
}

h1, .h1 {
  font-size: calc(1.3rem + 0.6vw);
}

  h1, .h1 {
    font-size: 1.75rem;
  }


h2, .h2 {
  font-size: 32px;
  color: #5c616592 !important;
  font-weight: 700;

}




h3, .h3 {
  font-size: calc(1.26rem + 0.12vw);
}

  h3, .h3 {
    font-size: 1.35rem;
  }


h4, .h4 {
  font-size: 1.05rem;
}

h5, .h5 {
  font-size: 1.15rem;
}

h6, .h6 {
  font-size: 16px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 600;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: 700;
}

small, .small {
  font-size: 0.875em;
}

mark, .mark {
  padding: 0.1875em;
  background-color: var(--bs-highlight-bg);
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: none;
}
a:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
  text-decoration: none;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: var(--bs-font-monospace);
  font-size: 1em;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: var(--bs-code-color);
  word-wrap: break-word;
}
a > code {
  color: inherit;
}

kbd {
  padding: 0.1875rem 0.375rem;
  font-size: 0.875em;
  color: var(--bs-body-bg);
  background-color: var(--bs-body-color);
  border-radius: 0.55rem;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
}

figure {
  margin: 0 0 1rem;
}

img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #A1A5B7;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}

[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
  display: none !important;
}
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
textarea {
  resize: vertical;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}
legend + * {
  clear: left;
}
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}
::-webkit-inner-spin-button {
  height: auto;
}
[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
iframe {
  border: 0;
}
.footerborder-bottom,
.header-border-bottom{
    border-bottom: 4px solid #F6C35A;
}
.btn-primary{
  background-color: #F6C35A  !important;
  color: #fff;
  border: none;
  height: 44px;
  padding: 10px 25px;
}
button.btn-outline-border {
  border: 1px solid #c9c9c9 !important;
  color: #c9c9c9 !important;
  border-radius: 6px;
  font-size: 14px;
}
.btn-secondary{
  background-color: #F0F0F0 !important;
  color: #8B8B8B;
  border: none;
  height: 44px;
  /* line-height: 44px; */
  padding: 10px 25px;
}
.border-radius-15px{
  border-radius: 15px;
}
.border-radius-6px{
  border-radius: 6px;
}
.text-sm{
  font-size: 15px;
}
.font-12{
  font-size: 12px;
}
.text-underline{
  text-decoration: underline;
}
.header-bg{
  background-color: #F6F6F6;
}
li.nav-item {
  margin-right: 20px;
}
.navbar-light .navbar-nav .nav-link{
  font-weight: bold;
}
.box-shadow{
  box-shadow: 6px 6px 16px #0000000F;
}
.color-9f{
  color: #9F9F9F;
}
.color-5c{
  color: #5C6165
}
.color-34{
   color: #34373A;
}
.color-C7{
  color: #C7C7D1;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
.form-group label {
  color: #9F9F9F;
  font-size:15px;
  font-weight: 400;
  line-height: 24px;
}
.form-control{
  border: 1px solid #cccccc;
  border-radius: 6px;
}
.table-custom thead tr th{
  font-weight: 400;
}
.table-custom thead {
  background-color: #787878;
color: #ffffff;
border: 0;
box-shadow: 0px 6px 6px #6666660F;
border-radius: 6px 6px 0px 0px;
}
.table thead th{
  border-bottom: 0;
  border-top: 0;
  font-size: 14px;
}
.table{
  background-color: #ffffff;
}
.table-custom thead tr th:first-child {
  border-radius: 6px 0px 0px 0px;
}
.table-custom thead tr th:last-child {
  border-radius: 0px 6px 0px 0px;
}
.table-btn {
  color: #9F9F9F;
  border: 1px solid #9F9F9F;
  border-radius: 10px;
  font-weight: 700;
} 
span#memb-search {
  background: #fff;
  border-right: 0;
  border:none;
}

.membersearch 
input.form-control {
  border-left: 0;
  padding-left: 0px;
  border:none;
  outline: none;
}
span#memb-search img {
  opacity: 0.09;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9f9f9f62 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #9f9f9f62 !important;
  opacity: .5;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #9f9f9f62 !important;
  opacity: .5;
}
.text-20{
  font-size: 18px;
}
.member_filter .btn, .status_by {
  background: #f0f0f0;
  color: #c7c7c7;
  border-radius: 4px;
  font-size: 12px;
}
ul li {
  list-style: none;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
  padding-left: 80px;
  padding-right: 80px;
}
#profileSidemenu ul.navbar-nav li a.active {
  border-right: 5px solid #F6C35A;
  color: #F6C35A;
}
#profileSidemenu ul.navbar-nav li {
  margin-right: 0;
}
.rightside-menu .dropdown-toggle::after{
  background-image: url('../src/assets/img/general/left-arrow.png');
  width: 23px;
  height: 14px;
  border: none;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: 11px;
  background-size: 70%;
}
.dropdown-menu.dropdown-menu-right.show {
  width: 250px;
  padding:0;
  border:none;
  box-shadow: 6px 6px 16px #0000000f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.prf-bg{
  background-color: #F6C35A;
  padding: 10px;
  border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.dropdown-item.active, .dropdown-item:active{
  background-color: #900;
}
.dropdown-item, .dropdown-item {
  padding: 8px;
  font-size: 14px;
}
.input-group-prepend {
  background: transparent;
}

.input-group-prepend .input-group-text {
  background: transparent;
  border-right: 0;
}

.input-group-prepend ~ input, .input-group-prepend ~ select {
  border-left: 0;
  padding-left: 0;
}
 
.dropdown-item{
  color:#9F9F9F;
  padding: 10px 20px;

}
.dropdown-item.active,
 .dropdown-item:active, 
 .dropdown-item:hover {
  background-color: #fdf4e8;
  color: #9F9F9F;
}
.font-bold{
  font-weight: 700;
}
.line-height-normal{
  line-height: normal;
}
a.paginate_button {
  background: #fff !important;
}

a.paginate_button.first, a.paginate_button.last {
  display: none !important;
}

a#DataTables_Table_0_previous, a#DataTables_Table_0_next {
  background: transparent !important;
  color: #242424 !important;
  font-size: 13px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  background: #fff !important;
  border: none !important;
  border-radius: 0;
  font-size: 13px;
  margin: 0 4px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #F6C35A !important;
  color: #fff !important;
}
table.dataTable tbody td {
  color: #5C6165;
  font-size: 15px;
  padding: 15px 10px !important;
  border-top: 3px solid #E6E6E6;
}

table.dataTable.no-footer {
  border: none !important;
}
table.dataTable thead th {
  border-bottom: 0;
  font-weight: 400 !important;
}

table.dataTable thead th {
  border-bottom: 0 !important;
  padding: 15px 10px !important;
}
.dataTables_paginate{
  margin-top:10px;
}
.chkboxwrap {
  /* display: block; */
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.chkboxwrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
    position: absolute;
    top:-5px;
    left: 0;
    height: 23px;
    width: 23px;
    background-color: #ffffff;
    border: 1px solid rgb(112 112 112 / 76%);
    border-radius: 6px;
}

.chkboxwrap:hover input ~ .checkmark {
  background-color: #ffffff;
}
.chkboxwrap input:checked ~ .checkmark {
  background-color: #F6C35A;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.table td, .table th{
  color: #5C6165;
  font-weight: 400;
}
.table th{
  color: #fff;
}
.table td{
  font-size: 16px;
}
.dropdown-menu.show {
  padding: 0;
}

.chkboxwrap input:checked ~ .checkmark:after {
  display: block;
}
table.dataTable td .dropdown a:hover {
  background: #e6e6e6;
  color: #000;
}

.chkboxwrap .checkmark:after {
  left: 7px;
  top: 3px;
  width: 7px;
  height: 13px; 
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkdatabase table#DataTables_Table_0 {
  clear: initial;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5C6165;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #F6C35A;
}

input:focus + .slider {
  box-shadow: 0 0 1px #F6C35A;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.font-weight-medium{
  font-weight: 500;
}
.clientlist .col-md-2 {
  flex: 0 0 20%;
  max-width: 20%;
}